{% extends 'base.html' %}

{% block additional_head %}{% endblock %}

{% block content %}
    <p><span class="mono">{{ creator_name }}</span> made a quiz and they invite you to take it. Go ahead, it's just for fun!</p>

    <form method="post" autocomplete="off">
        <label for="friend_name">Your name:</label>
        <input class="input-text" type="text" name="friend_name">
        <br>
        <br>

        <input class="input-button button" type="submit" value="Start Quiz">
    </form>
{% endblock %}
