{% extends 'base.html' %}

{% block additional_head %}
    <script src="{{ url_for('static', filename='copy_to_clipboard.js') }}"></script>
{% endblock %}

{% block content %}
    <p>
        Done! Share your newly created <a class="hyper-link" href="/quiz/start/{{ public_quiz_id }}" target="_blank">quiz</a> with a friend!
        They will see you as <span class="mono">{{ creator_name }}</span>.
    </p>

    <input type="hidden" value="/quiz/start/{{ public_quiz_id }}" id="quiz_link">
    <button class="input-button" onclick="copy_link_to_clipboard()">Copy Quiz Link</button>

    <div id="friends-scores">
        <p>Below, on this page, you can see your friends' scores as they take the quiz. Be sure to come back later!</p>

        <table id="friends-scores-table">
            <tr>
                <th>Name</th>
                <th>Score</th>
            </tr>

            {% if not results %}
                <tr>
                    <td>...</td>
                    <td>...</td>
                </tr>
            {% endif %}

            {% for result in results %}
                <tr>
                    <td><span class="mono">{{ result[0] }}</span></td>
                    <td>{{ result[1] }}/100</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
