{% extends 'base.html' %}

{% block additional_head %}
    <script src="{{ url_for('static', filename='copy_to_clipboard.js') }}"></script>
{% endblock %}

{% block content %}
    <p>Share your newly created <a class="hyper-link" href="/quiz/start/{{ quiz_id }}" target="_blank">quiz</a> with a friend!</p>

    <input type="hidden" value="/quiz/start/{{ quiz_id }}" id="quiz_link">
    <button onclick="copy_link_to_clipboard()">Copy Quiz Link</button>

    <div id="friends-scores">
        <p>Your friends' scores:</p>

        <table id="friends-scores-table">
            <tr>
                <th>Name</th>
                <th>Score</th>
            </tr>

            {% for result in results %}
                <tr>
                    <td>{{ result[0] }}</td>
                    <td>{{ result[1] }}/100</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
