{% extends 'base.html' %}

{% block additional_head %}{% endblock %}

{% block content %}
    <p>Welcome to BS Free Friendship Test! It's yet another way to quiz your friends with random questions. There you go.</p>
    <p>Start creating a quiz for your friends right <a class="hyper-link" href="/create/start">here</a>!</p>
    <div id="index-bottom">
        <p>...</p>
        <p id="disclaimer">Disclaimer: We don't offer any sort of warranty. We don't take any responsability for broken friendships due to bad quiz results. Just have fun.</p>
        <p id="definition">
            <span class="bold">friend</span>
            <span class="faded">/frĕnd/</span>
            <span class="mono">noun</span>
            <span class="faded">1.</span> A person whom one knows, likes, and trusts.
            <span class="faded">2.</span> A person whom one knows; an acquaintance.
        </p>
    </div>
{% endblock %}
