{% extends 'base.html' %}

{% block additional_head %}{% endblock %}

{% block content %}
    <p>Any data that you submit on this website (e.g. names, questions, answers) will be stored on the server for up to 48 hours, after which will be forever deleted.</p>
    <p>We don't use the data in any way but to keep the core service functional, that is to let you create and take quizes.</p>
    <p>The source code of the backend application server is freely available with an
        <a class="hyper-link" href="https://github.com/SimonMaracine/bs-free-friendship-test/blob/main/LICENSE" target="_blank">open-source license</a>.
    </p>
{% endblock %}
