{% extends 'base.html' %}

{% block content %}
    <p>Your name: {{ name }}</p>
    <p>Questions: {{ question_count }}/20</p>

    <form method="post">
        <p>{{ question.question }}</p>

        {% for answer in question.answers %}
            <input
                type="{{ 'radio' if question.single_type else 'checkbox' }}"
                id="{{ 'answer' ~ loop.index0 }}"
                name="{{ 'answer' if question.single_type else 'answer' ~ loop.index0 }}"
                value="{{ answer }}"
            >
            <label for="{{ 'answer' ~ loop.index0 }}">{{ answer }}</label>
        {% endfor %}

        <br>

        <input type="hidden" name="index" value="{{ question_index }}">
        <input type="submit" value="Submit Answer">
        <input type="button" value="Skip Question" onclick="window.location.reload()">
    </form>
{% endblock %}
